# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/

# Poetry virtualenvs (not needed inside container)
.env
.venv/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker files (if you want to exclude the local Dockerfile context)
Dockerfile
